<div
  class="form-group"
  [hidden]="!globalesService.avisible(this,componente,atributo)"
  *ngIf="posicion == 'default'"
>
  <label
    class="control-label {{ alineacion }}"
    for="{{ componente }}_{{ atributo }}"
  >
    {{globalesService.aetiqueta(this,componente,atributo)}}
  </label>
  <kendo-combobox
    [data]="data"
    [value]="datointerno"
    [textField]="atributoVisible"
    [valueField]="'id'"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    [allowCustom]="false"
    (valueChange)="valueChange($event)"
    [valueNormalizer]="valueNormalizer"
    class="form-control"
    [disabled]="!enable"
  >
    <ng-template kendoDropDownListNoDataTemplate>
      <h4>
        Sin registros.
      </h4>
    </ng-template>
  </kendo-combobox>
  <!-- <div
      class="form-group"
      *ngIf="globalesService.arequerido(this,componente,atributo)"
    >
      <select
        [disabled]="!globalesService.aenable(this,componente,atributo)"
        class="form-control aj-combo"
        (change)="datoCambio()"
        id="{{ componente }}_{{ atributo }}"
        required
        [(ngModel)]="datointerno"
        name="{{ atributo }}"
      >
        <option
          *ngFor="let opcion of opciones; let idx = index"
          [ngValue]="opcion"
          id="{{ componente }}_{{ atributo }}_{{ idx }}"
        >
          {{ opcion[atributoVisible] }}
        </option>
      </select>
    </div> -->

  <div *ngIf="alertar">
    <div [hidden]="!requerido">
      <small class="form-text form-text-error">Este campo es requerido!</small>
    </div>
    <div [hidden]="!patron">
      <small
        class="form-text form-text-error"
        *ngIf="globalesService.amensaje(this,componente,atributo)"
      >
        {{globalesService.amensaje(this,componente,atributo)}}
      </small>
      <small
        class="form-text form-text-error"
        *ngIf="!globalesService.amensaje(this,componente,atributo)"
      >
        Los datos de entrada no cumnplen con la validación
      </small>
    </div>
  </div>

  <div class="col-md-12" [hidden]="!this.isVisibleEditar">
    <label
      *ngIf="!ocultarConjuntos && globalesService.aeditable(this,componente,atributo)"
      class="pull-right"
    >
      <input
        type="checkbox"
        name="objetoEdicion"
        [(ngModel)]="objetoEdicion"
        (change)="objetoEdicionCambio()"
      />
      Editar
    </label>
  </div>
</div>
