<form [hidden]="!usuariologueado" #formaGeneral="ngForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{etiquetaGeneral}}</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <app-componente-identificador [componente]="'usuarioBtc'" [atributo]="'id'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['id']" [(dato)]="usuarioBtc.id" class="w-100">
                        </app-componente-identificador>
                    </div>
                </div>
                <app-componente-cadena [componente]="'usuarioBtc'" [atributo]="'nombre'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['nombre']" [(dato)]="usuarioBtc.nombre" class="w-100">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'usuarioBtc'" [atributo]="'primerApellido'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['primerApellido']" [(dato)]="usuarioBtc.primerApellido" class="w-100">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'usuarioBtc'" [atributo]="'segundoApellido'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['segundoApellido']" [(dato)]="usuarioBtc.segundoApellido" class="w-100">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'usuarioBtc'" [atributo]="'correoElectronico'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['correoElectronico']" [(dato)]="usuarioBtc.correoElectronico" class="w-100">
                </app-componente-cadena>
                <div>
                    <app-componente-objeto [componente]="'usuarioBtc'" [atributo]="'idhospital'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['idhospital']" [(dato)]="usuarioBtc.idhospital" class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                        [opciones]="lista_idhospitalUsuarioBtcHospital" [atributoVisible]="'rnt'" [(objetoEdicion)]="idhospitalUsuarioBtcHospitalEditar">
                    </app-componente-objeto>
                    <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!idhospitalEditar">
                        <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'usuarioBtc','idhospital')">
                            <app-hospital-crud [nombre]="'idhospital'" [hospital]="usuarioBtc.idhospital" (hospitalChange)="evtIdhospital($event)" [ocultarConjuntosHospital]="'true'" [class.hidden]="!idhospitalEditar"></app-hospital-crud>
                        </div>
                    </div>
                </div>

                <app-componente-fecha [componente]="'usuarioBtc'" [atributo]="'fechaRegistro'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['fechaRegistro']" [(dato)]="usuarioBtc.fechaRegistro" class="w-100">
                </app-componente-fecha>
                <app-componente-fecha [componente]="'usuarioBtc'" [atributo]="'fechaActualizacion'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['fechaActualizacion']" [(dato)]="usuarioBtc.fechaActualizacion" class="w-100">
                </app-componente-fecha>
                <app-componente-fecha [componente]="'usuarioBtc'" [atributo]="'fechaBaja'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['fechaBaja']" [(dato)]="usuarioBtc.fechaBaja" class="w-100">
                </app-componente-fecha>
                <div>
                    <app-componente-objeto [componente]="'usuarioBtc'" [atributo]="'idcargo'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['idcargo']" [(dato)]="usuarioBtc.idcargo" class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                        [opciones]="lista_idcargoUsuarioBtcCatalogoCargo" [atributoVisible]="'descripcion'" [(objetoEdicion)]="idcargoUsuarioBtcCatalogoCargoEditar">
                    </app-componente-objeto>
                    <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!idcargoEditar">
                        <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'usuarioBtc','idcargo')">
                            <app-catalogo-cargo-crud [nombre]="'idcargo'" [catalogoCargo]="usuarioBtc.idcargo" (catalogoCargoChange)="evtIdcargo($event)" [ocultarConjuntosCatalogoCargo]="'true'" [class.hidden]="!idcargoEditar"></app-catalogo-cargo-crud>
                        </div>
                    </div>
                </div>
                <div>
                    <app-componente-objeto [componente]="'usuarioBtc'" [atributo]="'idperfilRedIssste'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['idperfilRedIssste']" [(dato)]="usuarioBtc.idperfilRedIssste" class="w-100"
                        [ocultarConjuntos]="ocultarConjuntos" [opciones]="lista_idperfilRedIsssteUsuarioBtcPerfilRedIssste" [atributoVisible]="'nombre'" [(objetoEdicion)]="idperfilRedIsssteUsuarioBtcPerfilRedIsssteEditar">
                    </app-componente-objeto>
                    <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!idperfilRedIsssteEditar">
                        <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'usuarioBtc','idperfilRedIssste')">
                            <app-perfil-red-issste-crud [nombre]="'idperfilRedIssste'" [perfilRedIssste]="usuarioBtc.idperfilRedIssste" (perfilRedIsssteChange)="evtIdperfilRedIssste($event)" [ocultarConjuntosPerfilRedIssste]="'true'" [class.hidden]="!idperfilRedIsssteEditar"></app-perfil-red-issste-crud>
                        </div>
                    </div>
                </div>
                <div>
                    <app-componente-objeto [componente]="'usuarioBtc'" [atributo]="'usuarioUltMov'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['usuarioUltMov']" [(dato)]="usuarioBtc.usuarioUltMov" class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                        [opciones]="lista_usuarioUltMovUsuarioBtcUsuario" [atributoVisible]="'username'" [(objetoEdicion)]="usuarioUltMovUsuarioBtcUsuarioEditar">
                    </app-componente-objeto>
                    <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!usuarioUltMovEditar">
                        <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'usuarioBtc','usuarioUltMov')">
                            <app-usuario-crud [nombre]="'usuarioUltMov'" [usuario]="usuarioBtc.usuarioUltMov" (usuarioChange)="evtUsuarioUltMov($event)" [ocultarConjuntosUsuario]="'true'" [class.hidden]="!usuarioUltMovEditar"></app-usuario-crud>
                        </div>
                    </div>
                </div>
                <app-componente-radio [componente]="'usuarioBtc'" [atributo]="'status'" [buscar]="usuarioBtcBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosUsuarioBtc['status']" [(dato)]="usuarioBtc.status" class="w-100">
                </app-componente-radio>
            </div>
        </div>
    </div>
</form>