<div class="panel panel-default">
    <div class="panel-heading"><h3>Detalle de Donante y Extracción de Tejido</h3></div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h4>Id Solicitud de Evaluación:</h4>
          </div>
          <div class="col-md-6">
            <h4>{{ data?.evaluacionSolicitud.idrecepcionSolicitudEvaluacion.idsolicitudEvaluacionCorneal.folioSolicitud }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h4>Nombre(s):</h4>
          </div>
          <div class="col-md-3">
            <h4>{{ data?.evaluacionSolicitud.idrecepcionSolicitudEvaluacion.idsolicitudEvaluacionCorneal.nombre }}</h4>
          </div>
          <div class="col-md-3">
            <h4>Primer Apellido:</h4>
          </div>
          <div class="col-md-3">
            <h4>{{ data?.evaluacionSolicitud.idrecepcionSolicitudEvaluacion.idsolicitudEvaluacionCorneal.primerApellido }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Segundo Apellido:</h4>
          </div>
          <div class="col-md-3">
            <h4>{{ data?.evaluacionSolicitud.idrecepcionSolicitudEvaluacion.idsolicitudEvaluacionCorneal.segundoApellido }}</h4>
          </div>
          <div class="col-md-3">
            <h4>Edad:</h4>
          </div>
          <div class="col-md-3">
            <h4>{{ data?.evaluacionSolicitud.idrecepcionSolicitudEvaluacion.idsolicitudEvaluacionCorneal.edad }} años</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
