<div *ngIf="usuariologueado" >
<div class="card">
<div class="card-header"><h1>Busqueda {{permisosTabla?.etiqueta}}</h1></div>
<div class="card-body">
<div class="container-fluid" >    

<table *ngIf="muestraTabla" id="tabla_permisoConjunto" class="table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th [class.hidden]="!avisible('permisoConjunto','id')" >{{aetiqueta('permisoConjunto','id')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','tabla')" >{{aetiqueta('permisoConjunto','tabla')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','conjunto')" >{{aetiqueta('permisoConjunto','conjunto')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','permiso')" >{{aetiqueta('permisoConjunto','permiso')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','status')" >{{aetiqueta('permisoConjunto','status')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','etiqueta')" >{{aetiqueta('permisoConjunto','etiqueta')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','usuario')" >{{aetiqueta('permisoConjunto','usuario')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','usuarioUltMov')" >{{aetiqueta('permisoConjunto','usuarioUltMov')}}</th>

            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th [class.hidden]="!avisible('permisoConjunto','id')" >{{aetiqueta('permisoConjunto','id')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','tabla')" >{{aetiqueta('permisoConjunto','tabla')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','conjunto')" >{{aetiqueta('permisoConjunto','conjunto')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','permiso')" >{{aetiqueta('permisoConjunto','permiso')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','status')" >{{aetiqueta('permisoConjunto','status')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','etiqueta')" >{{aetiqueta('permisoConjunto','etiqueta')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','usuario')" >{{aetiqueta('permisoConjunto','usuario')}}</th>
            <th [class.hidden]="!avisible('permisoConjunto','usuarioUltMov')" >{{aetiqueta('permisoConjunto','usuarioUltMov')}}</th>

            <th>Acción</th>
        </tr>
    </tfoot>
</table>
</div>
<app-permiso-conjunto [class.hidden]="primero" [(permisoConjunto)]="permisoConjuntoSeleccionado" (permisoConjuntoTablaChange)="cambio_permisoConjunto($event)"> </app-permiso-conjunto>    
</div>
</div>
</div>

<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
