<form [hidden]="!usuariologueado" #formaGeneral="ngForm">
    <div class="panel panel-default">


        <div class="panel-heading">
            <h3>CATÁLOGO/ HOSPITAL EXTERNO</h3>
        </div>

        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <label class="control-label">ID Hospital Externo:</label>
                            <app-componente-identificador [componente]="'hospital'" [atributo]="'id'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['id']" [(dato)]="hospital.id" class="w-100">
                            </app-componente-identificador>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <app-componente-cadena [componente]="'hospital'" [atributo]="'redIssste'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['redIssste']" [(dato)]="hospital.redIssste" class="w-100">
                            </app-componente-cadena>
                        </div>
                    </div>
                    <app-componente-cadena [componente]="'hospital'" [atributo]="'nombre'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['nombre']" [(dato)]="hospital.nombre" class="w-100" [maxlength]="255">
                    </app-componente-cadena>
                    <app-componente-cadena [componente]="'hospital'" [atributo]="'rnt'" [maxlength]="4" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['rnt']" [(dato)]="hospital.rnt" class="w-100">
                    </app-componente-cadena>
                    <app-componente-cadena [componente]="'hospital'" [atributo]="'establecimiento'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['establecimiento']" [(dato)]="hospital.establecimiento" class="w-100" [maxlength]="255">
                    </app-componente-cadena>
                    <div class="row">
                        <div class="col-lg-6">
                            <app-componente-objeto [componente]="'hospital'" [atributo]="'identidadFederativa'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['identidadFederativa']" [(dato)]="hospital.identidadFederativa" class="w-100"
                                [ocultarConjuntos]="ocultarConjuntos" [opciones]="lista_identidadFederativaHospitalEntidadFederativa" [atributoVisible]="'nombre'" [(objetoEdicion)]="identidadFederativaHospitalEntidadFederativaEditar">
                            </app-componente-objeto>

                        </div>
                        <div class="col-lg-6">
                            <app-componente-cadena [componente]="'hospital'" [atributo]="'dependencia'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['dependencia']" [(dato)]="hospital.dependencia" class="w-100" [maxlength]="255">
                            </app-componente-cadena>
                        </div>
                    </div>
                    <app-componente-fecha [componente]="'hospital'" [atributo]="'fechaRegistro'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['fechaRegistro']" [(dato)]="hospital.fechaRegistro" class="w-100">
                    </app-componente-fecha>
                    <app-componente-fecha [componente]="'hospital'" [atributo]="'fechaActualizacion'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['fechaActualizacion']" [(dato)]="hospital.fechaActualizacion" class="w-100">
                    </app-componente-fecha>
                    <app-componente-fecha [componente]="'hospital'" [atributo]="'fechaBaja'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['fechaBaja']" [(dato)]="hospital.fechaBaja" class="w-100">
                    </app-componente-fecha>
                    <div>

                        <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!identidadFederativaEditar">
                            <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'hospital','identidadFederativa')">
                                <app-entidad-federativa-crud [nombre]="'identidadFederativa'" [entidadFederativa]="hospital.identidadFederativa" (entidadFederativaChange)="evtIdentidadFederativa($event)" [ocultarConjuntosEntidadFederativa]="'true'" [class.hidden]="!identidadFederativaEditar"></app-entidad-federativa-crud>
                            </div>
                        </div>
                    </div>
                    <div>
                        <app-componente-objeto [componente]="'hospital'" [atributo]="'usuarioUltMov'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['usuarioUltMov']" [(dato)]="hospital.usuarioUltMov" class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                            [opciones]="lista_usuarioUltMovHospitalUsuario" [atributoVisible]="'username'" [(objetoEdicion)]="usuarioUltMovHospitalUsuarioEditar">
                        </app-componente-objeto>
                        <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos" [class.hidden]="!usuarioUltMovEditar">
                            <div class="form-group" [class.hidden]="!globalesService.aeditable(this,'hospital','usuarioUltMov')">
                                <!--app-usuario-crud [nombre]="'usuarioUltMov'" [usuario]="hospital.usuarioUltMov" (usuarioChange)="evtUsuarioUltMov($event)"
                                                           [ocultarConjuntosUsuario]="'true'" [class.hidden]="!usuarioUltMovEditar" ></app-usuario-crud-->
                            </div>
                        </div>
                    </div>
                    <app-componente-radio [componente]="'hospital'" [atributo]="'status'" [buscar]="hospitalBuscar" [permisosAtributos]="permisosAtributos" [(valido)]="validosHospital['status']" [(dato)]="hospital.status" class="w-100">
                    </app-componente-radio>

                    <!-- <div class="col-lg-2">
				   <div class="panel-footer" style="text-align: center">
				  <div style="display: inline-block;width: 90%;">
				 <div class="row">

				  <button type="button"   (click)="limpiarCampos()">Nuevo</button>
			     </div>
				 <br>
				 <div class="row">
                 <button type="button"  (click)="actualizarHospitalFront(formaGeneral)">Modificar</button>
			     </div>
				 <br>
			     <div class="row">
                 <button type="button"   (click)="eliminarHospitalFront(formaGeneral)">Eliminar</button>
                 </div>
                 </div>
				 </div>
				  </div>-->
                </div>
            </div>
        </div>
    </div>
</form>