<div class="panel panel-default">
  <!-- <div class="panel-footer" style="text-align: right" *ngIf="!viewModeEvaluacion">
        <div style="display: inline-block;width: 90%; margin-right: 10%;">
        </div>
    </div> -->
  <app-recepcion-solicitud-evaluacion-crud [viewModeEvaluacion]="true"
    [solicitudEvaluacionCorneal]="solicitudEvaluacionCorneal"
    [recepcionSolicitudEvaluacion]="recepcionSolicitudEvaluacion"></app-recepcion-solicitud-evaluacion-crud>
  <div class="panel-footer" style="text-align: left;">
    <h3 class="text-center">EVALUACIÓN DE TEJIDO CORNEAL </h3>
    <h3 class="text-center">Aplicación de Calidad / Estudios de Laboratorio / Revisión Ocular</h3>
    <hr>
    <div class="form-group">
      <label class="control-label">Nombre del Donante:</label>
      <input class="form-control" placeholder="Nombre" type="text"
        [value]="solicitudEvaluacionCorneal.nombre + ' ' + solicitudEvaluacionCorneal.primerApellido + ' ' + solicitudEvaluacionCorneal.segundoApellido"
        disabled="true" />
    </div>
    <div class="form-group">
      <label class="control-label">EXPEDIENTE SIRNT:</label>
      <input class="form-control" placeholder="Segundo Apellido" type="text"
        [value]="solicitudEvaluacionCorneal.numeroExpediente" disabled="true" />
    </div>
    <hr>
    <label class="text-center">1° OFTALMOLOGÍA: apartado 1 y 2 (apartado 3 opcional, sustituye lámpara de hendidura).
      Evitar confusión de lateralidad. Valorar en cada apartado como Apta y No Apta</label>
    <hr>
    <h4 class="text-center">REVISIÓN MACROSCÓPICA</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-estudio-laboratorio [usuariologueado]="usuariologueado" [etiquetaGeneral]="'CÓRNEA IZQUIERDA (CI)'"
        [estudioLaboratorioBuscar]="estudioLaboratorioBuscar" [permisosAtributos]="permisosAtributos"
        [permisosConjuntos]="permisosConjuntos" [validosEstudioLaboratorio]="validosEstudioLaboratorio"
        [estudioLaboratorioService]="estudioLaboratorio_service" [(opcion)]="opcionEstudioLaboratorio"
        [globalesService]="globalesService" [(estudioLaboratorio)]="estudioLaboratorio"
        [ocultarConjuntos]="ocultarConjuntosEstudioLaboratorio" [lista_usuarioUltMovEstudioLaboratorioUsuario]="
      lista_usuarioUltMovEstudioLaboratorioUsuario
    " [lista_idevaluacionSolicitudEstudioLaboratorioEvaluacionSolicitud]="
      lista_idevaluacionSolicitudEstudioLaboratorioEvaluacionSolicitud
    " [enable]="recepcionSolicitudEvaluacion?.idbtcCi != null && !viewModeEvaluacion && (!evaluacionSolicitud.almacenEvaluacion)">
      </app-estudio-laboratorio>
    </div>
    <div class="col-md-6">
      <app-estudio-laboratorio [usuariologueado]="usuariologueado" [etiquetaGeneral]="'CÓRNEA DERECHA (CD)'"
        [estudioLaboratorioBuscar]="estudioLaboratorioBuscar" [permisosAtributos]="permisosAtributos"
        [permisosConjuntos]="permisosConjuntos" [validosEstudioLaboratorio]="validosEstudioLaboratorio"
        [estudioLaboratorioService]="estudioLaboratorio_service" [(opcion)]="opcionEstudioLaboratorio"
        [globalesService]="globalesService" [(estudioLaboratorio)]="estudioLaboratorioDerecha"
        [ocultarConjuntos]="ocultarConjuntosEstudioLaboratorio" [lista_usuarioUltMovEstudioLaboratorioUsuario]="
      lista_usuarioUltMovEstudioLaboratorioUsuario
    " [lista_idevaluacionSolicitudEstudioLaboratorioEvaluacionSolicitud]="
      lista_idevaluacionSolicitudEstudioLaboratorioEvaluacionSolicitud
    " [enable]="recepcionSolicitudEvaluacion?.idbtcCd != null && !viewModeEvaluacion && (!evaluacionSolicitud.almacenEvaluacion)">
      </app-estudio-laboratorio>
    </div>
  </div>
  <div class="panel-footer" style="text-align: right" *ngIf="!viewModeEvaluacion">
    <div style="display: inline-block;width: 90%; margin-right: 10%;">
      <button style="margin-right: 10px;" type="button" class="btn btn-primary btn-guardar" (click)="doSave()"
        [disabled]="evaluacionSolicitud.almacenEvaluacion">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-primary btn-guardar"
        [routerLink]="['/lampara-hendidura-crud/',evaluacionSolicitud.id]"
        [disabled]="!(evaluacionSolicitud.estudiosLaboratorio?.length > 0)">
        <span class="fa fa-floppy-disk"></span>Siguiente
      </button>
    </div>
  </div>
</div>
<div class="modal fade" id="buscarEstudioLaboratorio_{{ nombre }}" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <app-estudio-laboratorio-list-kendo [nombregrid]="'buscar_' + nombre"
          [configuracionEstudioLaboratorio]="configuracionEstudioLaboratorio" (estudioLaboratorioSeleccionado)="
            evtEstudioLaboratorioSeleccionado($event)
          ">
        </app-estudio-laboratorio-list-kendo>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div [hidden]="usuariologueado" class="alert alert-danger">
  <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
