<div *ngIf="usuariologueado" >
<div class="card">
<div class="card-header"><h1>Busqueda {{permisosTabla?.etiqueta}}</h1></div>
<div class="card-body">
<div class="container-fluid" >    

<table *ngIf="muestraTabla" id="tabla_perfilRedIssste" class="table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th [class.hidden]="!avisible('perfilRedIssste','id')" >{{aetiqueta('perfilRedIssste','id')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','nombre')" >{{aetiqueta('perfilRedIssste','nombre')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','tipoPerfil')" >{{aetiqueta('perfilRedIssste','tipoPerfil')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaRegistro')" >{{aetiqueta('perfilRedIssste','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaActualizacion')" >{{aetiqueta('perfilRedIssste','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaBaja')" >{{aetiqueta('perfilRedIssste','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','usuarioUltMov')" >{{aetiqueta('perfilRedIssste','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','status')" >{{aetiqueta('perfilRedIssste','status')}}</th>

            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th [class.hidden]="!avisible('perfilRedIssste','id')" >{{aetiqueta('perfilRedIssste','id')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','nombre')" >{{aetiqueta('perfilRedIssste','nombre')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','tipoPerfil')" >{{aetiqueta('perfilRedIssste','tipoPerfil')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaRegistro')" >{{aetiqueta('perfilRedIssste','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaActualizacion')" >{{aetiqueta('perfilRedIssste','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','fechaBaja')" >{{aetiqueta('perfilRedIssste','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','usuarioUltMov')" >{{aetiqueta('perfilRedIssste','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('perfilRedIssste','status')" >{{aetiqueta('perfilRedIssste','status')}}</th>

            <th>Acción</th>
        </tr>
    </tfoot>
</table>
</div>
<app-perfil-red-issste [class.hidden]="primero" [(perfilRedIssste)]="perfilRedIsssteSeleccionado" (perfilRedIsssteTablaChange)="cambio_perfilRedIssste($event)"> </app-perfil-red-issste>    
</div>
</div>
</div>

<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
