<form [hidden]="!usuariologueado" #formaGeneral="ngForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{etiquetaGeneral}}</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <app-componente-identificador [componente]="'doctorProcurador'" [atributo]="'id'"
                            [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                            [(valido)]="validosDoctorProcurador['id']" [(dato)]="doctorProcurador.id" class="w-100">
                        </app-componente-identificador>
                    </div>
                </div>

                <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos"
                    [class.hidden]="!idhospitalEditar">
                    <div class="form-group"
                        [class.hidden]="!globalesService.aeditable(this,'doctorProcurador','idhospital')">
                        <app-hospital-crud [nombre]="'idhospital'" [hospital]="doctorProcurador.idhospital"
                            (hospitalChange)="evtIdhospital($event)" [ocultarConjuntosHospital]="'true'"
                            [class.hidden]="!idhospitalEditar"></app-hospital-crud>
                    </div>
                </div>

                <app-componente-cadena [componente]="'doctorProcurador'" [atributo]="'nombre'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['nombre']" [(dato)]="doctorProcurador.nombre" class="w-100"
                    [maxlength]="255">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'doctorProcurador'" [atributo]="'primerApellido'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['primerApellido']" [(dato)]="doctorProcurador.primerApellido"
                    class="w-100" [maxlength]="255">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'doctorProcurador'" [atributo]="'segundoApellido'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['segundoApellido']" [(dato)]="doctorProcurador.segundoApellido"
                    class="w-100" [maxlength]="255">
                </app-componente-cadena>
                <app-componente-cadena [componente]="'doctorProcurador'" [atributo]="'correoElectronico'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['correoElectronico']"
                    [(dato)]="doctorProcurador.correoElectronico" class="w-100" [maxlength]="255">
                </app-componente-cadena>
                <app-componente-objeto [componente]="'doctorProcurador'" [atributo]="'idhospital'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['idhospital']" [(dato)]="doctorProcurador.idhospital"
                    class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                    [opciones]="lista_idhospitalDoctorProcuradorHospital" [atributoVisible]="'nombre'"
                    [(objetoEdicion)]="idhospitalDoctorProcuradorHospitalEditar">
                </app-componente-objeto>
                <app-componente-fecha [componente]="'doctorProcurador'" [atributo]="'fechaRegistro'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['fechaRegistro']" [(dato)]="doctorProcurador.fechaRegistro"
                    class="w-100">
                </app-componente-fecha>
                <app-componente-fecha [componente]="'doctorProcurador'" [atributo]="'fechaActualizacion'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['fechaActualizacion']"
                    [(dato)]="doctorProcurador.fechaActualizacion" class="w-100">
                </app-componente-fecha>
                <app-componente-fecha [componente]="'doctorProcurador'" [atributo]="'fechaBaja'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['fechaBaja']" [(dato)]="doctorProcurador.fechaBaja"
                    class="w-100">
                </app-componente-fecha>
                <div>
                    <app-componente-objeto [componente]="'doctorProcurador'" [atributo]="'usuarioUltMov'"
                        [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                        [(valido)]="validosDoctorProcurador['usuarioUltMov']" [(dato)]="doctorProcurador.usuarioUltMov"
                        class="w-100" [ocultarConjuntos]="ocultarConjuntos"
                        [opciones]="lista_usuarioUltMovDoctorProcuradorUsuario" [atributoVisible]="'username'"
                        [(objetoEdicion)]="usuarioUltMovDoctorProcuradorUsuarioEditar">
                    </app-componente-objeto>
                    <div class="editarObjeto panel panel-default" *ngIf="!ocultarConjuntos"
                        [class.hidden]="!usuarioUltMovEditar">
                        <div class="form-group"
                            [class.hidden]="!globalesService.aeditable(this,'doctorProcurador','usuarioUltMov')">
                            <!--app-usuario-crud [nombre]="'usuarioUltMov'" [usuario]="doctorProcurador.usuarioUltMov" (usuarioChange)="evtUsuarioUltMov($event)"
                                                           [ocultarConjuntosUsuario]="'true'" [class.hidden]="!usuarioUltMovEditar" ></app-usuario-crud-->
                        </div>
                    </div>
                </div>
                <app-componente-radio [componente]="'doctorProcurador'" [atributo]="'status'"
                    [buscar]="doctorProcuradorBuscar" [permisosAtributos]="permisosAtributos"
                    [(valido)]="validosDoctorProcurador['status']" [(dato)]="doctorProcurador.status" class="w-100">
                </app-componente-radio>

            </div>
        </div>
    </div>
</form>
