    <div class="panel panel-default">
        <app-permiso-conjunto [usuariologueado]="usuariologueado"
                           [etiquetaGeneral]="permisosTabla?.etiqueta"
                           [permisoConjuntoBuscar]="permisoConjuntoBuscar"
                           [permisosAtributos]="permisosAtributos"
                           [permisosConjuntos]="permisosConjuntos"
                           [validosPermisoConjunto]="validosPermisoConjunto"
                           [permisoConjuntoService]="permisoConjunto_service"
                           [(opcion)]="opcionPermisoConjunto"
                           [globalesService]="globalesService"
                           [(permisoConjunto)]="permisoConjunto"
                           [ocultarConjuntos]="ocultarConjuntosPermisoConjunto"
                           [lista_usuarioUltMovPermisoConjuntoUsuario]="lista_usuarioUltMovPermisoConjuntoUsuario"
                           [lista_usuarioPermisoConjuntoUsuario]="lista_usuarioPermisoConjuntoUsuario"
                           [perfilesPermisoConjuntoPerfilN]="perfilesPermisoConjuntoPerfilN"
                           [lista_perfilesPermisoConjuntoPerfil]="lista_perfilesPermisoConjuntoPerfil"
                           [perfilService]="perfil_service"

					  >

        </app-permiso-conjunto>

        <div class="panel-footer" style="text-align: center">
		  <div style="display: inline-block;width: 90%;">
            <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!permisoConjuntoBuscar" (click)="buscarPermisoConjuntoFront()"><span class="fa fa-search"></span> Buscar</button>
            <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!permisoConjuntoAgregar" (click)="nuevoPermisoConjuntoFront()" ><span class="fa fa-newspaper"></span>Nuevo </button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!permisoConjuntoActualizar" (click)="actualizarPermisoConjuntoFront()"><span class="fa fa-arrow-up"></span> Actualizar</button>
            <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!permisoConjuntoEliminar" (click)="eliminarPermisoConjuntoFront()"> <span class="fa fa-trash"></span>Eliminar</button>
            <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!permisoConjuntoGuardar" (click)="guardarPermisoConjuntoFront()"><span class="fa fa-floppy-disk"></span>Guardar</button>
            <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!permisoConjuntoCancelar" (click)="cancelarPermisoConjuntoFront()"><span class="fa fa-remove"></span>Cancelar</button>
            <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReportePermisoConjuntoWord" (click)="reportePermisoConjuntoWord()"> <span class="fa fa-download-alt"></span>Word</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReportePermisoConjuntoExcel" (click)="reportePermisoConjuntoExcel()"> <span class="fa fa-download-alt"></span> Excel</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReportePermisoConjuntoPdf" (click)="reportePermisoConjuntoPdf()"><span class="fa fa-download-alt"></span> PDF</button>
          </div>

        </div>
    </div>
    <div class="modal fade" id="buscarPermisoConjunto_{{nombre}}" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-permiso-conjunto-list-kendo [nombregrid]="'buscar_'+nombre"  [configuracionPermisoConjunto]="configuracionPermisoConjunto"  (permisoConjuntoSeleccionado) ="evtPermisoConjuntoSeleccionado($event)">  </app-permiso-conjunto-list-kendo>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div [hidden]="usuariologueado" class="alert alert-danger">
  <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
