<div *ngIf="usuariologueado" >
<div class="card">
<div class="card-header"><h1>Busqueda {{permisosTabla?.etiqueta}}</h1></div>
<div class="card-body">
<div class="container-fluid" >    

<table *ngIf="muestraTabla" id="tabla_desgloseCornea" class="table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th [class.hidden]="!avisible('desgloseCornea','id')" >{{aetiqueta('desgloseCornea','id')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','idevaluacionSolicitud')" >{{aetiqueta('desgloseCornea','idevaluacionSolicitud')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','descripcion')" >{{aetiqueta('desgloseCornea','descripcion')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','idadicional')" >{{aetiqueta('desgloseCornea','idadicional')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','usuarioUltMov')" >{{aetiqueta('desgloseCornea','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','status')" >{{aetiqueta('desgloseCornea','status')}}</th>

            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th [class.hidden]="!avisible('desgloseCornea','id')" >{{aetiqueta('desgloseCornea','id')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','idevaluacionSolicitud')" >{{aetiqueta('desgloseCornea','idevaluacionSolicitud')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','descripcion')" >{{aetiqueta('desgloseCornea','descripcion')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','idadicional')" >{{aetiqueta('desgloseCornea','idadicional')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','usuarioUltMov')" >{{aetiqueta('desgloseCornea','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('desgloseCornea','status')" >{{aetiqueta('desgloseCornea','status')}}</th>

            <th>Acción</th>
        </tr>
    </tfoot>
</table>
</div>
<app-desglose-cornea [class.hidden]="primero" [(desgloseCornea)]="desgloseCorneaSeleccionado" (desgloseCorneaTablaChange)="cambio_desgloseCornea($event)"> </app-desglose-cornea>    
</div>
</div>
</div>

<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
