<div class="panel panel-default">
    <app-gestion-muestra-microbiologia [usuariologueado]="usuariologueado" [etiquetaGeneral]="'C. Gestión de Muestras de Microbiología: Revisión, Almacén, Envío'" [gestionMuestraMicrobiologiaBuscar]="gestionMuestraMicrobiologiaBuscar" [permisosAtributos]="permisosAtributos"
        [permisosConjuntos]="permisosConjuntos" [validosGestionMuestraMicrobiologia]="validosGestionMuestraMicrobiologia" [gestionMuestraMicrobiologiaService]="gestionMuestraMicrobiologia_service" [(opcion)]="opcionGestionMuestraMicrobiologia" [globalesService]="globalesService"
        [(gestionMuestraMicrobiologia)]="gestionMuestraMicrobiologia" [ocultarConjuntos]="ocultarConjuntosGestionMuestraMicrobiologia" [lista_usuarioUltMovGestionMuestraMicrobiologiaUsuario]="lista_usuarioUltMovGestionMuestraMicrobiologiaUsuario" [lista_idoficioDonacionGestionMuestraMicrobiologiaOficioDonacion]="lista_idoficioDonacionGestionMuestraMicrobiologiaOficioDonacion"
        [enable]="enable">

    </app-gestion-muestra-microbiologia>

    <!-- <div class="panel-footer" style="text-align: center">
		  <div style="display: inline-block;width: 90%;">
            <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!gestionMuestraMicrobiologiaBuscar" (click)="buscarGestionMuestraMicrobiologiaFront(formaGeneral)"><span class="fa fa-search"></span> Buscar</button>
            <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!gestionMuestraMicrobiologiaAgregar" (click)="nuevoGestionMuestraMicrobiologiaFront(formaGeneral)" ><span class="fa fa-newspaper"></span>Nuevo </button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!gestionMuestraMicrobiologiaActualizar" (click)="actualizarGestionMuestraMicrobiologiaFront(formaGeneral)"><span class="fa fa-arrow-up"></span> Actualizar</button>
            <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!gestionMuestraMicrobiologiaEliminar" (click)="eliminarGestionMuestraMicrobiologiaFront(formaGeneral)"> <span class="fa fa-trash"></span>Eliminar</button>
            <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!gestionMuestraMicrobiologiaGuardar" (click)="guardarGestionMuestraMicrobiologiaFront(formaGeneral)"><span class="fa fa-floppy-disk"></span>Guardar</button>
            <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!gestionMuestraMicrobiologiaCancelar" (click)="cancelarGestionMuestraMicrobiologiaFront(formaGeneral)"><span class="fa fa-remove"></span>Cancelar</button>
            <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteGestionMuestraMicrobiologiaWord" (click)="reporteGestionMuestraMicrobiologiaWord(formaGeneral)"> <span class="fa fa-download-alt"></span>Word</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteGestionMuestraMicrobiologiaExcel" (click)="reporteGestionMuestraMicrobiologiaExcel(formaGeneral)"> <span class="fa fa-download-alt"></span> Excel</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteGestionMuestraMicrobiologiaPdf" (click)="reporteGestionMuestraMicrobiologiaPdf(formaGeneral)"><span class="fa fa-download-alt"></span> PDF</button>
          </div>

        </div> -->
</div>
<div class="modal fade" id="buscarGestionMuestraMicrobiologia_{{nombre}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <app-gestion-muestra-microbiologia-list-kendo [nombregrid]="'buscar_'+nombre" [configuracionGestionMuestraMicrobiologia]="configuracionGestionMuestraMicrobiologia" (gestionMuestraMicrobiologiaSeleccionado)="evtGestionMuestraMicrobiologiaSeleccionado($event)">
                </app-gestion-muestra-microbiologia-list-kendo>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>