<div class="panel panel-default">
    <!-- <div class="panel-footer" style="text-align: right" *ngIf="!viewModeEvaluacion">
        <div style="display: inline-block;width: 90%; margin-right: 10%;"> -->
            <!-- <button type="button" class="btn btn-guardar" (click)="limpiarCampos()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button> -->
            <!-- <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!solicitudEvaluacionCornealBuscar" (click)="buscarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-search"></span> Buscar</button>
                                  <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!solicitudEvaluacionCornealAgregar" (click)="nuevoSolicitudEvaluacionCornealFront(formaGeneral)" ><span class="fa fa-newspaper"></span>Nuevo </button>
                                  <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!solicitudEvaluacionCornealActualizar" (click)="actualizarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-arrow-up"></span> Actualizar</button>
                                  <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!solicitudEvaluacionCornealEliminar" (click)="eliminarSolicitudEvaluacionCornealFront(formaGeneral)"> <span class="fa fa-trash"></span>Eliminar</button>
                                  <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!solicitudEvaluacionCornealGuardar" (click)="guardarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-floppy-disk"></span>Guardar</button>
                                  <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!solicitudEvaluacionCornealCancelar" (click)="cancelarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-remove"></span>Cancelar</button>
                                  <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
                                  <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealWord" (click)="reporteSolicitudEvaluacionCornealWord(formaGeneral)"> <span class="fa fa-download-alt"></span>Word</button>
                                  <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealExcel" (click)="reporteSolicitudEvaluacionCornealExcel(formaGeneral)"> <span class="fa fa-download-alt"></span> Excel</button>
                                  <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealPdf" (click)="reporteSolicitudEvaluacionCornealPdf(formaGeneral)"><span class="fa fa-download-alt"></span> PDF</button>
                                -->
        <!-- </div>
    </div> -->
    <app-recepcion-solicitud-evaluacion [usuariologueado]="recepcionSolicitudEvaluacion.idUsuarioRecibe? recepcionSolicitudEvaluacion.idUsuarioRecibe : usuariologueado" etiquetaGeneral="REGISTRO DE RECEPCIÓN DE TEJIDO CORNEAL" [recepcionSolicitudEvaluacionBuscar]="recepcionSolicitudEvaluacionBuscar" [permisosAtributos]="permisosAtributos" [permisosConjuntos]="permisosConjuntos"
        [validosRecepcionSolicitudEvaluacion]="validosRecepcionSolicitudEvaluacion" [recepcionSolicitudEvaluacionService]="recepcionSolicitudEvaluacion_service" [(opcion)]="opcionRecepcionSolicitudEvaluacion" [globalesService]="globalesService" [(recepcionSolicitudEvaluacion)]="recepcionSolicitudEvaluacion"
        [ocultarConjuntos]="ocultarConjuntosRecepcionSolicitudEvaluacion" [lista_usuarioUltMovRecepcionSolicitudEvaluacionUsuario]="
      lista_usuarioUltMovRecepcionSolicitudEvaluacionUsuario
    " [lista_idsolicitudEvaluacionCornealRecepcionSolicitudEvaluacionSolicitudEvaluacionCorneal]="
      lista_idsolicitudEvaluacionCornealRecepcionSolicitudEvaluacionSolicitudEvaluacionCorneal
    " [usuarioLogueado]="recepcionSolicitudEvaluacion.idUsuarioRecibe? recepcionSolicitudEvaluacion.idUsuarioRecibe : usuariologueado" [(solicitudEvaluacionCorneal)]="solicitudEvaluacionCorneal" [viewModeEvaluacion]="viewModeEvaluacion" [enableDerecha]="enableDerecha" [enableIzquierda]="enableIzquierda">
    </app-recepcion-solicitud-evaluacion>

    <div class="panel-footer" style="text-align: right" *ngIf="!viewModeEvaluacion">
        <div style="display: inline-block;width: 90%; margin-right: 10%;">
            <button style="margin-right: 10px;" type="button" class="btn  btn-primary btn-guardar" (click)="doSave()">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              </button>
            <button style="margin-right: 10px;" type="button" class="btn btn-guardar" [disabled]="!validaTodosc" (click)="doImprimirEtiqueta()" [disabled]="!recepcionSolicitudEvaluacion.idbtcCi && !recepcionSolicitudEvaluacion.idbtcCd">
        <span class="fa fa-floppy-disk"></span>Imprimir Etiqueta
      </button>

            <button type="button" class="btn btn-primary btn-guardar" (click)="doGenerarIdBTC()" [disabled]="recepcionSolicitudEvaluacion.idbtcCi || recepcionSolicitudEvaluacion.idbtcCd">
        <span class="fa fa-floppy-disk"></span>Generar ID del BTC
      </button>

            <!-- <button
        style="margin-right: 10px;"
        type="button"
        class="btn btn-guardar"
        [routerLink]="['/solicitud-evaluacion-corneal-crud/', 54]"
      >
        <span class="fa fa-floppy-disk"></span>Átras
      </button> -->
            <!-- <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!solicitudEvaluacionCornealBuscar" (click)="buscarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-search"></span> Buscar</button>
                      <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!solicitudEvaluacionCornealAgregar" (click)="nuevoSolicitudEvaluacionCornealFront(formaGeneral)" ><span class="fa fa-newspaper"></span>Nuevo </button>
                      <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!solicitudEvaluacionCornealActualizar" (click)="actualizarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-arrow-up"></span> Actualizar</button>
                      <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!solicitudEvaluacionCornealEliminar" (click)="eliminarSolicitudEvaluacionCornealFront(formaGeneral)"> <span class="fa fa-trash"></span>Eliminar</button>
                      <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!solicitudEvaluacionCornealGuardar" (click)="guardarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-floppy-disk"></span>Guardar</button>
                      <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!solicitudEvaluacionCornealCancelar" (click)="cancelarSolicitudEvaluacionCornealFront(formaGeneral)"><span class="fa fa-remove"></span>Cancelar</button>
                      <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
                      <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealWord" (click)="reporteSolicitudEvaluacionCornealWord(formaGeneral)"> <span class="fa fa-download-alt"></span>Word</button>
                      <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealExcel" (click)="reporteSolicitudEvaluacionCornealExcel(formaGeneral)"> <span class="fa fa-download-alt"></span> Excel</button>
                      <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteSolicitudEvaluacionCornealPdf" (click)="reporteSolicitudEvaluacionCornealPdf(formaGeneral)"><span class="fa fa-download-alt"></span> PDF</button>
                    -->
        </div>
    </div>
</div>
<div class="modal fade" id="buscarRecepcionSolicitudEvaluacion_{{ nombre }}" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
            </div>
            <div class="modal-body">
                <app-recepcion-solicitud-evaluacion-list-kendo [nombregrid]="'buscar_' + nombre" [configuracionRecepcionSolicitudEvaluacion]="
            configuracionRecepcionSolicitudEvaluacion
          " (recepcionSolicitudEvaluacionSeleccionado)="
            evtRecepcionSolicitudEvaluacionSeleccionado($event)
          ">
                </app-recepcion-solicitud-evaluacion-list-kendo>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
            </div>
        </div>
    </div>
</div>
<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
