    <div class="panel panel-default">
        <app-documentacion-donacion [usuariologueado]="usuariologueado"
                           [etiquetaGeneral]="'1. Documentación de la Donación'"
                           [documentacionDonacionBuscar]="documentacionDonacionBuscar"
                           [permisosAtributos]="permisosAtributos"
                           [permisosConjuntos]="permisosConjuntos"
                           [validosDocumentacionDonacion]="validosDocumentacionDonacion"
                           [documentacionDonacionService]="documentacionDonacion_service"
                           [(opcion)]="opcionDocumentacionDonacion"
                           [globalesService]="globalesService"
                           [(documentacionDonacion)]="documentacionDonacion"
                           [ocultarConjuntos]="ocultarConjuntosDocumentacionDonacion"
                           [lista_usuarioUltMovDocumentacionDonacionUsuario]="lista_usuarioUltMovDocumentacionDonacionUsuario"
                           [lista_idoficioDonacionDocumentacionDonacionOficioDonacion]="lista_idoficioDonacionDocumentacionDonacionOficioDonacion"
                           [recepcionSolicitudEvaluacion]="recepcionSolicitudEvaluacion"
                           [enable]="enable"
                           >

        </app-documentacion-donacion>

        <!-- <div class="panel-footer" style="text-align: center">
		  <div style="display: inline-block;width: 90%;">
            <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!documentacionDonacionBuscar" (click)="buscarDocumentacionDonacionFront(formaGeneral)"><span class="fa fa-search"></span> Buscar</button>
            <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!documentacionDonacionAgregar" (click)="nuevoDocumentacionDonacionFront(formaGeneral)" ><span class="fa fa-newspaper"></span>Nuevo </button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!documentacionDonacionActualizar" (click)="actualizarDocumentacionDonacionFront(formaGeneral)"><span class="fa fa-arrow-up"></span> Actualizar</button>
            <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!documentacionDonacionEliminar" (click)="eliminarDocumentacionDonacionFront(formaGeneral)"> <span class="fa fa-trash"></span>Eliminar</button>
            <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!documentacionDonacionGuardar" (click)="guardarDocumentacionDonacionFront(formaGeneral)"><span class="fa fa-floppy-disk"></span>Guardar</button>
            <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!documentacionDonacionCancelar" (click)="cancelarDocumentacionDonacionFront(formaGeneral)"><span class="fa fa-remove"></span>Cancelar</button>
            <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteDocumentacionDonacionWord" (click)="reporteDocumentacionDonacionWord(formaGeneral)"> <span class="fa fa-download-alt"></span>Word</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteDocumentacionDonacionExcel" (click)="reporteDocumentacionDonacionExcel(formaGeneral)"> <span class="fa fa-download-alt"></span> Excel</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteDocumentacionDonacionPdf" (click)="reporteDocumentacionDonacionPdf(formaGeneral)"><span class="fa fa-download-alt"></span> PDF</button>
          </div>

        </div> -->
    </div>
    <div class="modal fade" id="buscarDocumentacionDonacion_{{nombre}}" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-documentacion-donacion-list-kendo [nombregrid]="'buscar_'+nombre"  [configuracionDocumentacionDonacion]="configuracionDocumentacionDonacion"  (documentacionDonacionSeleccionado) ="evtDocumentacionDonacionSeleccionado($event)">  </app-documentacion-donacion-list-kendo>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div [hidden]="usuariologueado" class="alert alert-danger">
  <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
