<div *ngIf="usuariologueado" >
<div class="card">
<div class="card-header"><h1>Busqueda {{permisosTabla?.etiqueta}}</h1></div>
<div class="card-body">
<div class="container-fluid" >    

<table *ngIf="muestraTabla" id="tabla_solicitudTejidoCornealAlmacen" class="table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','id')" >{{aetiqueta('solicitudTejidoCornealAlmacen','id')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','idsolicitudTejidoCornealRecepcion')" >{{aetiqueta('solicitudTejidoCornealAlmacen','idsolicitudTejidoCornealRecepcion')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','tejidoExistente')" >{{aetiqueta('solicitudTejidoCornealAlmacen','tejidoExistente')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaRegistro')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaActualizacion')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaBaja')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','estatusProceso')" >{{aetiqueta('solicitudTejidoCornealAlmacen','estatusProceso')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','usuarioUltMov')" >{{aetiqueta('solicitudTejidoCornealAlmacen','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','status')" >{{aetiqueta('solicitudTejidoCornealAlmacen','status')}}</th>

            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','id')" >{{aetiqueta('solicitudTejidoCornealAlmacen','id')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','idsolicitudTejidoCornealRecepcion')" >{{aetiqueta('solicitudTejidoCornealAlmacen','idsolicitudTejidoCornealRecepcion')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','tejidoExistente')" >{{aetiqueta('solicitudTejidoCornealAlmacen','tejidoExistente')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaRegistro')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaActualizacion')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','fechaBaja')" >{{aetiqueta('solicitudTejidoCornealAlmacen','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','estatusProceso')" >{{aetiqueta('solicitudTejidoCornealAlmacen','estatusProceso')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','usuarioUltMov')" >{{aetiqueta('solicitudTejidoCornealAlmacen','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('solicitudTejidoCornealAlmacen','status')" >{{aetiqueta('solicitudTejidoCornealAlmacen','status')}}</th>

            <th>Acción</th>
        </tr>
    </tfoot>
</table>
</div>
<app-solicitud-tejido-corneal-almacen [class.hidden]="primero" [(solicitudTejidoCornealAlmacen)]="solicitudTejidoCornealAlmacenSeleccionado" (solicitudTejidoCornealAlmacenTablaChange)="cambio_solicitudTejidoCornealAlmacen($event)"> </app-solicitud-tejido-corneal-almacen>    
</div>
</div>
</div>

<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
