    <!--div class="panel panel-default"-->
        <app-tipo-cirugia-prevista [usuariologueado]="usuariologueado"
                           [etiquetaGeneral]="permisosTabla?.etiqueta"
                           [tipoCirugiaPrevistaBuscar]="tipoCirugiaPrevistaBuscar"
                           [permisosAtributos]="permisosAtributos"
                           [permisosConjuntos]="permisosConjuntos"
                           [validosTipoCirugiaPrevista]="validosTipoCirugiaPrevista"
                           [tipoCirugiaPrevistaService]="tipoCirugiaPrevista_service"
                           [(opcion)]="opcionTipoCirugiaPrevista"
                           [globalesService]="globalesService"
                           [(tipoCirugiaPrevista)]="tipoCirugiaPrevista"
                           [ocultarConjuntos]="ocultarConjuntosTipoCirugiaPrevista"
                           [lista_usuarioUltMovTipoCirugiaPrevistaUsuario]="lista_usuarioUltMovTipoCirugiaPrevistaUsuario"
                           [lista_idsolicitudTejidoCornealTipoCirugiaPrevistaSolicitudTejidoCorneal]="lista_idsolicitudTejidoCornealTipoCirugiaPrevistaSolicitudTejidoCorneal"
                           [desactiva] ="desactiva"
                           [otracheck]="otracheck"
                           [isDisabled] ="isDisabled"

					  >

        </app-tipo-cirugia-prevista>

        <!--div class="panel-footer" style="text-align: center">
		  <div style="display: inline-block;width: 90%;">
            <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!tipoCirugiaPrevistaBuscar" (click)="buscarTipoCirugiaPrevistaFront(formaGeneral)"><span class="fa fa-search"></span> Buscar</button>
            <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!tipoCirugiaPrevistaAgregar" (click)="nuevoTipoCirugiaPrevistaFront(formaGeneral)" ><span class="fa fa-newspaper"></span>Nuevo </button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!tipoCirugiaPrevistaActualizar" (click)="actualizarTipoCirugiaPrevistaFront(formaGeneral)"><span class="fa fa-arrow-up"></span> Actualizar</button>
            <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!tipoCirugiaPrevistaEliminar" (click)="eliminarTipoCirugiaPrevistaFront(formaGeneral)"> <span class="fa fa-trash"></span>Eliminar</button>
            <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!tipoCirugiaPrevistaGuardar" (click)="guardarTipoCirugiaPrevistaFront(formaGeneral)"><span class="fa fa-floppy-disk"></span>Guardar</button>
            <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!tipoCirugiaPrevistaCancelar" (click)="cancelarTipoCirugiaPrevistaFront(formaGeneral)"><span class="fa fa-remove"></span>Cancelar</button>
            <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteTipoCirugiaPrevistaWord" (click)="reporteTipoCirugiaPrevistaWord(formaGeneral)"> <span class="fa fa-download-alt"></span>Word</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteTipoCirugiaPrevistaExcel" (click)="reporteTipoCirugiaPrevistaExcel(formaGeneral)"> <span class="fa fa-download-alt"></span> Excel</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteTipoCirugiaPrevistaPdf" (click)="reporteTipoCirugiaPrevistaPdf(formaGeneral)"><span class="fa fa-download-alt"></span> PDF</button>
          </div>

        </div-->
    <!--/div-->
    <div class="modal fade" id="buscarTipoCirugiaPrevista_{{nombre}}" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-tipo-cirugia-prevista-list-kendo [nombregrid]="'buscar_'+nombre"  [configuracionTipoCirugiaPrevista]="configuracionTipoCirugiaPrevista"  (tipoCirugiaPrevistaSeleccionado) ="evtTipoCirugiaPrevistaSeleccionado($event)">  </app-tipo-cirugia-prevista-list-kendo>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div [hidden]="usuariologueado" class="alert alert-danger">
  <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
