    <div class="panel panel-default">
        <app-usuario [usuariologueado]="usuariologueado"
                           [etiquetaGeneral]="permisosTabla?.etiqueta"
                           [usuarioBuscar]="usuarioBuscar"
                           [permisosAtributos]="permisosAtributos"
                           [permisosConjuntos]="permisosConjuntos"
                           [validosUsuario]="validosUsuario"
                           [usuarioService]="usuario_service"
                           [(opcion)]="opcionUsuario"
                           [globalesService]="globalesService"
                           [(usuario)]="usuario"
                           [ocultarConjuntos]="ocultarConjuntosUsuario"
                           [lista_usuarioUltMovUsuarioUsuario]="lista_usuarioUltMovUsuarioUsuario"
                           [lista_perfilUsuarioPerfil]="lista_perfilUsuarioPerfil"
                           [lista_idcargoUsuarioCatalogoCargo]="lista_idcargoUsuarioCatalogoCargo"
                           [lista_idhospitalUsuarioHospital]="lista_idhospitalUsuarioHospital"

					  >

        </app-usuario>

        <div class="panel-footer" style="text-align: center">
		  <div style="display: inline-block;width: 90%;">
            <button type="button" class="btn btn-primary btn-buscar" [class.hidden]="!usuarioBuscar" (click)="buscarUsuarioFront()"><span class="fa fa-search"></span> Buscar</button>
            <button type="button" class="btn btn-success btn-agregar" [class.hidden]="!usuarioAgregar" (click)="nuevoUsuarioFront()" ><span class="fa fa-newspaper"></span>Nuevo </button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="!usuarioActualizar" (click)="actualizarUsuarioFront()"><span class="fa fa-arrow-up"></span> Actualizar</button>
            <button type="button" class="btn btn-danger btn-eliminar"  [class.hidden]="!usuarioEliminar" (click)="eliminarUsuarioFront()"> <span class="fa fa-trash"></span>Eliminar</button>
            <button type="button" class="btn btn-danger btn-guardar"  [disabled]="!validaTodosc" [class.hidden]="!usuarioGuardar" (click)="guardarUsuarioFront()"><span class="fa fa-floppy-disk"></span>Guardar</button>
            <button type="button" class="btn btn-danger btn-cancelar"  [class.hidden]="!usuarioCancelar" (click)="cancelarUsuarioFront()"><span class="fa fa-remove"></span>Cancelar</button>
            <button type="button" class="btn btn-primary btn-limpiar"  (click)="limpiarCampos()">Limpiar Campos</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteUsuarioWord" (click)="reporteUsuarioWord()"> <span class="fa fa-download-alt"></span>Word</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteUsuarioExcel" (click)="reporteUsuarioExcel()"> <span class="fa fa-download-alt"></span> Excel</button>
            <button type="button" class="btn btn-warning btn-actualizar" [disabled]="!validaTodosc" [class.hidden]="datosReporteUsuarioPdf" (click)="reporteUsuarioPdf()"><span class="fa fa-download-alt"></span> PDF</button>
          </div>

        </div>
    </div>
    <div class="modal fade" id="buscarUsuario_{{nombre}}" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-usuario-list-kendo [nombregrid]="'buscar_'+nombre"  [configuracionUsuario]="configuracionUsuario"  (usuarioSeleccionado) ="evtUsuarioSeleccionado($event)">  </app-usuario-list-kendo>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div [hidden]="usuariologueado" class="alert alert-danger">
  <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
