<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- <context:property-placeholder location="/WEB-INF/properties/database.properties" ignore-unresolvable="true" order="1" />
    <context:property-placeholder location="/WEB-INF/properties/aplication.properties" ignore-unresolvable="true" order="2" /> -->
    <context:property-placeholder location="file:/home/luis_martinez/proyectos/ejemploBack/src/main/webapp/WEB-INF/properties/database.properties" ignore-unresolvable="true" order="1" />
	<context:property-placeholder location="file:/home/luis_martinez/proyectos/ejemploBack/src/main/webapp/WEB-INF/properties/aplication.properties" ignore-unresolvable="true" order="2" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${database.jdbc.driver}"
          p:url="${database.jdbc.url}"
          p:username="${database.jdbc.user}"
          p:password="${database.jdbc.password}" />

    <!--ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc)--> 
    <context:annotation-config />
    <context:component-scan base-package="mx.atto.ejemplo" />
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- para habilitar las anotaciones en el paquete de java 
        <property name="packagesToScan"> 
            <list> 
               <value>mx.gob.issste.sitteec</value> 
            </list> 
        </property>
        -->
        <property name="mappingLocations">
            <list>
                <value>classpath:mx/atto/ejemplo/entity/core/*.hbm.xml</value>
                <value>classpath:mx/atto/ejemplo/entity/*.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect" >${hibernate.dialect} </prop>
                <prop key="hibernate.show_sql" >${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql" >${hibernate.format_sql}</prop>
            </props>
        </property>
    </bean>
    <!-- Enables the Hibernate @Transactional programming model -->
    <tx:annotation-driven transaction-manager="hibernateTransactionManager"/>

    <bean id="hibernateTransactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager"  >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="SpringTestFilter" class="mx.atto.ejemplo.filter.StatelessAuthenticationFilter" >
        <constructor-arg index="0"  value="${token.secret}"/>
    </bean>
          

</beans>
