<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Detalle de Donante y Extracción de Tejido</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Tipo de Donante:</h4>
                </div>
                <div class="col-md-6">
                    <h4>{{ datos?.tipo }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Id Solicitud de Evaluación:</h4>
                </div>
                <div class="col-md-6">
                    <h4>{{ datos?.idSolEva }}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h4>Nombre(s):</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.nombre }}</h4>
                </div>
                <div class="col-md-3">
                    <h4>Primer Apellido:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.apellido1 }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Segundo Apellido:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.apellido2 }}</h4>
                </div>
                <div class="col-md-3">
                    <h4>Edad:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.edad }} años</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>ID CENATRA IZ:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.idCenatraCI }}</h4>
                </div>

                <div class="col-md-3">
                    <h4>Fecha de la extracción de CI:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.fechaExtraccionCI }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Hora Inicio:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.horaExtInicioCI }}</h4>
                </div>
                <div class="col-md-3">
                    <h4>Hora Fin:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.horaExtFinCI }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>ID CENATRA DR:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.idCenatraCD }}</h4>
                </div>

                <div class="col-md-3">
                    <h4>Fecha de la extracción de CD:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.fechaExtraccionCD }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Hora Inicio:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.horaExtInicioCD }}</h4>
                </div>
                <div class="col-md-3">
                    <h4>Hora Fin:</h4>
                </div>
                <div class="col-md-3">
                    <h4>{{ datos?.horaExtFinCD }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Lugar de la Extracción:</h4>
                </div>
                <div class="col-md-6">
                    <h4>{{ datos?.lugarExtraccion }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Fecha de envío al Banco:</h4>
                </div>
                <div class="col-md-6">
                    <h4>{{ datos?.fechaBanco }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
