<div class="panel panel-default">
  <div class="panel-heading"><h3>Detalle de Solicitud de Tejido</h3></div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h4>Id Solicitud de Evaluación:</h4>
        </div>
        <div class="col-md-6">
          <h4>{{ data?.idsolicitudTejidoCornealRecepcion.idsolicitudTejidoCorneal.folioSolicitudTejidoCorneal }}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h4>Nombre(s):</h4>
        </div>
        <div class="col-md-3">
          <h4>{{ data?.idsolicitudTejidoCornealRecepcion.idsolicitudTejidoCorneal.nombreReceptor }}</h4>
        </div>
        <div class="col-md-3">
          <h4>Primer Apellido:</h4>
        </div>
        <div class="col-md-3">
          <h4>{{ data?.idsolicitudTejidoCornealRecepcion.idsolicitudTejidoCorneal.primerApellidoReceptor }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Segundo Apellido:</h4>
        </div>
        <div class="col-md-3">
          <h4>{{ data?.idsolicitudTejidoCornealRecepcion.idsolicitudTejidoCorneal.segundoApellidoReceptor }}</h4>
        </div>
        <div class="col-md-3">
          <h4>Edad:</h4>
        </div>
        <div class="col-md-3">
          <h4>{{ data?.idsolicitudTejidoCornealRecepcion.idsolicitudTejidoCorneal.edadReceptor }} años</h4>
        </div>
      </div>
    </div>
  </div>
</div>
