<div *ngIf="usuariologueado" >
<div class="card">
<div class="card-header"><h1>Busqueda {{permisosTabla?.etiqueta}}</h1></div>
<div class="card-body">
<div class="container-fluid" >    

<table *ngIf="muestraTabla" id="tabla_caracteristicaDonacion" class="table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th [class.hidden]="!avisible('caracteristicaDonacion','id')" >{{aetiqueta('caracteristicaDonacion','id')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','idoficioDonacion')" >{{aetiqueta('caracteristicaDonacion','idoficioDonacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','tiempoIsquemia')" >{{aetiqueta('caracteristicaDonacion','tiempoIsquemia')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','odcd')" >{{aetiqueta('caracteristicaDonacion','odcd')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','oici')" >{{aetiqueta('caracteristicaDonacion','oici')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','odcdCultivo')" >{{aetiqueta('caracteristicaDonacion','odcdCultivo')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','oiciCultivo')" >{{aetiqueta('caracteristicaDonacion','oiciCultivo')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','observacion')" >{{aetiqueta('caracteristicaDonacion','observacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaRegistro')" >{{aetiqueta('caracteristicaDonacion','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaActualizacion')" >{{aetiqueta('caracteristicaDonacion','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaBaja')" >{{aetiqueta('caracteristicaDonacion','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','usuarioUltMov')" >{{aetiqueta('caracteristicaDonacion','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','status')" >{{aetiqueta('caracteristicaDonacion','status')}}</th>

            <th>Acción</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th [class.hidden]="!avisible('caracteristicaDonacion','id')" >{{aetiqueta('caracteristicaDonacion','id')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','idoficioDonacion')" >{{aetiqueta('caracteristicaDonacion','idoficioDonacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','tiempoIsquemia')" >{{aetiqueta('caracteristicaDonacion','tiempoIsquemia')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','odcd')" >{{aetiqueta('caracteristicaDonacion','odcd')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','oici')" >{{aetiqueta('caracteristicaDonacion','oici')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','odcdCultivo')" >{{aetiqueta('caracteristicaDonacion','odcdCultivo')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','oiciCultivo')" >{{aetiqueta('caracteristicaDonacion','oiciCultivo')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','observacion')" >{{aetiqueta('caracteristicaDonacion','observacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaRegistro')" >{{aetiqueta('caracteristicaDonacion','fechaRegistro')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaActualizacion')" >{{aetiqueta('caracteristicaDonacion','fechaActualizacion')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','fechaBaja')" >{{aetiqueta('caracteristicaDonacion','fechaBaja')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','usuarioUltMov')" >{{aetiqueta('caracteristicaDonacion','usuarioUltMov')}}</th>
            <th [class.hidden]="!avisible('caracteristicaDonacion','status')" >{{aetiqueta('caracteristicaDonacion','status')}}</th>

            <th>Acción</th>
        </tr>
    </tfoot>
</table>
</div>
<app-caracteristica-donacion [class.hidden]="primero" [(caracteristicaDonacion)]="caracteristicaDonacionSeleccionado" (caracteristicaDonacionTablaChange)="cambio_caracteristicaDonacion($event)"> </app-caracteristica-donacion>    
</div>
</div>
</div>

<div [hidden]="usuariologueado" class="alert alert-danger">
    <strong>Alerta !</strong> No tienes permisos para esta página.
</div>
